<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fap.test">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="FAP"
        android:roundIcon="@drawable/ktlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="fap.test.HomePage_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fap.test.Register_Activity" />
        <activity android:name="fap.test.Login_Activity" />
    </application>

</manifest>